body {
    margin: 0;
}

header {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 10px;
}

.previous-button {
    width: 175px;
    padding: 5px;
    margin: 5px;
}

#main-content {
    display: flex;
    flex-direction: row;
}

#search-area {
    width: 350px;
    margin-left: 20px;
}

#current-weather {
    width: auto;
    height: 350px;
    margin-left: 30px;
}

#forecast {
    width: auto;
    margin-left: 30px;
}

#search-term {
    width: 300px;
    height: 30px;
}

#search-btn {
    width: 310px;
    padding: 5px;
    margin-top: 10px;
}


